@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    --text: #404145;
    --background: #e3e8e7;
    --primary: #bfb0b4;
    --secondary: #b0c0bc;
    --accent: #949aaa;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #404145;
    --background: #c0c4ce;
    --primary: #cdc1c1;
    --secondary: #b7c5c2;
    --accent: #565c6c;
  }
}

html,
body {
  color: var(--text);
  background: var(--background);
  font-weight: 300;
}

ul {
  list-style: none;
}

a {
  text-decoration: underline;
  color: var(--primary);
}

a:hover {
  text-decoration: none;
  color: var(--accent);
  cursor: pointer;
}

h1 {
  font-size: 3rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

/* hover text component */

.hover-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hover-container:hover::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hover-container.hovered:hover::before {
  opacity: 1;
}

/* sliding navigation drawer */

.icon:hover {
  cursor: pointer;
}

.close,
.list {
  position: absolute;
  top: 1.8rem;
  left: 1rem;
}

.drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 13rem;
  height: 100%;
  background-color: hsla(12, 20%, 95%, 0);
  transition: transform 0.3s ease-in-out;
  transform: translateX(-18.75rem);
  overflow: hidden;
}

.drawer.open {
  transform: translateX(0);
}

.drawer-content li {
  transition: transform 0.32s ease-in-out;
}

/* volume slider on audio player */
.slidecontainer {
  width: 25%;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.55rem;
  background: var(--primary);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--text);
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--text);
  cursor: pointer;
  border-radius: 50%;
}

/* about page */
.body {
  color: var(--background);
}
