@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    --text: #404145;
    --background: #e3e8e7;
    --primary: #bfb0b4;
    --secondary: #b0c0bc;
    --accent: #949aaa;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #c0c4ce;
    --background: #404145;
    --primary: #cdc1c1;
    --secondary: #b7c5c2;
    --accent: #565c6c;
  }
}

html,
body {
  color: var(--text);
  background: var(--background);
  font-weight: 300;
}

main {
  color: var(--text);
  background-color: var(--background);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--text);
}

a:hover {
  color: var(--accent);
}

.icon {
  background-color: var(--background);
  color: var(--text);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon:active {
  background-color: var(--primary);
}

.drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 13.6rem;
  height: 100%;
  background-color: hsla(12, 20%, 95%, 0);
  transition: transform 0.3s ease-in-out;
  transform: translateX(-18.75rem);
  overflow: hidden;
}

.drawer.open {
  transform: translateX(0);
}

.drawer-content li {
  transition: transform 0.32s ease-in-out;
}

.drawer-content li:hover {
  transform: rotateX(360deg);
  color: var(--accent);
}

.player {
  background: var(--primary);
}

.volume {
  color: var(--text);
  background-color: var(--background);
}

input::-webkit-slider-thumb {
  /* appearance: none; */
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--background);
  color: var(--text);
  cursor: pointer;
}

input::-moz-range-thumb {
  /* appearance: none; */
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--background);
  color: var(--text);
  cursor: pointer;
}

input::-ms-thumb {
  /* appearance: none; */
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--background);
  color: var(--text);
  cursor: pointer;
}

#homelogo {
  fill: var(--text);
}