@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    --text: #404145;
    --background: #e3e8e7;
    --primary: #bfb0b4;
    --secondary: #b0c0bc;
    --accent: #949aaa;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #c0c4ce;
    --background: #404145;
    --primary: #cdc1c1;
    --secondary: #b7c5c2;
    --accent: #565c6c;
  }
}

html,
body {
  color: var(--text);
  background: var(--background);
  font-weight: 300;
}

main {
  background-image: url('/images/lavalamp.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--text);
}

a:hover {
  color: var(--accent);
}

.drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 13.6rem;
  height: 100%;
  background-color: hsla(12, 20%, 95%, 0);
  transition: transform 0.3s ease-in-out;
  transform: translateX(-18.75rem);
  overflow: hidden;
}

.drawer.open {
  transform: translateX(0);
}

.drawer-content li {
  transition: transform 0.32s ease-in-out;
}

.control {
  opacity: 0.9;

}

.control:hover {
  opacity: 1;
}

.slidecontainer {
  width: 25%;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.55rem;
  background: var(--primary);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--text);
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 1rem;
  background: var(--text);
  cursor: pointer;
  border-radius: 50%;
}
